.logo {
    width: 7%;
    margin-left: 5%;
}

@media only screen and (max-width: 770px) {
    .logo {
        width: 13%;
    }
}

@media only screen and (max-width: 430px) {
    .logo {
        width: 23%;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 28%;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 35%;
        margin-left: 2%;
    }
}

@media only screen and(min-width: 700px) {

    .nav-link {
        // margin: 0 5% 0 0;
        color: rgba(0, 0, 0, 0.789) !important;
    }

    .nav-item {
        height: 50px;
    }

    .search {
        width: 230%;
        margin-left: -50%;

        .input {
            // width: 100%;
        }
    }

}

.nav-categories {
    background-color: #E8E8E8 !important;
    height: 2.6rem;

}

@media only screen and (max-width: 1160px) {

    .nav-categories {
        background-color: #E8E8E8 !important;
        height: 2.6rem;

        .nav-item {
            font-size: 0.9rem;
            margin: 1% 1% !important;
        }
    }

}

@media only screen and (max-width: 950px) {

    .nav-categories {
        background-color: #E8E8E8 !important;
        height: 2rem;

        .nav-item {
            font-size: 0.65rem;
            margin: 1% 1% !important;
        }
    }

}

.ad {

    .category {

        .cat {
            height: 16.1rem !important;
        }

        .text-h {
            color: #004896;
            margin-left: -3%;
        }
    }

    .c {
        background-color: #F6F7F8;
        height: 18.8em !important;

        .image {
            width: 90% !important;
            height: 70% !important;
        }

        .text {

            .text-h {
                color: #004896;
            }

            .btn {
                background-color: #004896;
                color: #FFF;
            }
        }
    }
}

@media screen and (max-width: 950px) {

    .ad {

        .category {

            .text-h {
                font-size: 0.8rem !important;
            }

            .cat {
                height: 10rem !important;

                .text {
                    margin: 0;
                    font-size: 0.8rem !important;
                }
            }
        }

        .c {
            height: 12rem !important;

            .image {
                height: 80% !important;
            }
        }

        .text {

            .text-h {
                font-size: 1rem !important;
            }

            .text {
                font-size: 0.8rem !important;
            }
        }
    }
}

@media screen and (max-width: 760px) {

    .ad {
        .category {
            display: none;
        }

        .col-9 {
            width: 100% !important;
            padding: 0 !important;

            .c {
                padding: 0 !important;
            }

            .image {
                height: 10rem !important;
            }

            .text-h {
                font-size: 0.7rem !important;
            }

            .text {
                font-size: 0.7rem;
            }
        }
    }

}

@media only screen and (max-width: 1030px) {}


.category-section {
    padding: 0 3%;

    .col {
        margin: 0 -1.5%;
        box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.282), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        border-radius: 0% !important;

        .card-img-top {
            height: 14rem;
        }

        .text {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: rgba(255,
                    255,
                    255,
                    0.802);
            padding: 0 0.5rem;
        }

    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 4% -1%;
    }

}

@media only screen and (max-width: 950px) {
    .category-section {

        .col {
            box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.282), 0 1rem 1rem 0rem rgba(0, 0, 0, 0.19);
            border-radius: 0 !important;

            .card-img-top {
                height: 14rem;
            }

            .text {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: 0;
            }
        }

        .d-sm-block {
            display: none !important;
        }
    }
}

@media screen and (max-width: 760px) {

    .category-section {

        .col {
            display: grid !important;
            grid-template-columns: auto auto;
            grid-template-rows: 70% 30%;
            background-color: #0048960e;
            border: 0 !important;
            box-shadow: none;

            .card-img-top {
                grid-column-start: 2;
                grid-column-end: 3;
                height: 4.5rem !important;
                width: 8rem !important;
                margin-left: 50% !important;
            }

            .text {
                grid-column-start: 1;
                grid-column-end: 2;
                width: 15rem !important;
                background-color: rgba(255, 255, 255, 0) !important;
                margin-top: 5%;
            }
        }
    }

}

.product-section {
    padding: 0 3%;

    .center {

        .col {
            margin: 0 3%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
    }

}

@media screen and (max-width: 760px) {

    .product-section {
        padding: 1.5% !important;

        .center {

            .col {
                padding: 1% !important;
                margin: 3% !important;

                .card-img-top {
                    // height: 5rem;
                }

                .card-body {

                    .fs-5 {
                        font-size: 1rem !important;
                    }

                    .fs-6 {
                        font-size: 0.8rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {

    .product-section {

        .center {

            .col {
                .card-img-top {}

                .card-body {

                    .fs-5 {
                        font-size: 0.8rem !important;
                    }

                    .fs-6 {
                        font-size: 0.6rem !important;
                    }

                }
            }
        }
    }
}

.idea-section {

    .card-slide {
        width: 90%;
        margin: 0 5%;
    }

    .card-img-top {
        width: 100%;
        height: 350px !important;
        object-fit: cover;
    }

}

@media only screen and (max-width: 600px) {

    .idea-section {

        .card-img-top {
            width: 100%;
        }

    }

}

.footer {
    background-color: #004896;

    img {
        width: 40%;
    }

    @media only screen and (max-width: 430px) {
        img {
            width: 100%;
        }

        .col-sm-6 {
            width: 30% !important;
        }

        .fs-3 {
            font-size: 100% !important;
        }
    }
}
