.logo {
    width: 10%;
}

@media only screen and(min-width: 700px) {
    .nav-links {
    margin: 0 5% 0 0;
    background-color: bisque;
}
}

.login-section {
    background-color: red;
    padding: 5% 10% !important;

    .input-section {
        background-color: aqua;

        .input {
            margin: 0 20% !important;
        }
    }

}
